/* Home page css*/
.home-page {
    align-self: stretch;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: antiquewhite;
}
.hero {
    font-weight: 900;
    font-size: 50px;
}
.sub-hero {
    font-size: 20px;
}