/* Menu page css */
.menu-div {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
}
.card-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.card-container > img {
    height: 300px;
    width: auto;
    border-radius: 8px;
}